.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.footer__title {
  color: rgba(33, 33, 33, 0.7);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
}
