.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}
.modal__container {
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  background: white;
  border-color: #fff;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  opacity: 40%;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__title {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
}

.modal__input {
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding: 16px 12px;
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.3);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}
.modal__input:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__input:focus {
  color: rgba(33, 33, 33, 1);
}

.modal__save-button {
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  margin: 0;
  height: 52px;
}

.modal__save-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .modal__container {
    padding: 12px 12px;
  }
  .modal__close-button {
    top: 4px;
    right: 4px;
    height: 23px;
  }
  .modal__form {
    max-width: 276px;
    width: 100%;
  }
  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }
  .modal__label {
    max-width: 276px;
    width: 100%;
  }
  .modal__input {
    margin: 0 0 24px;
    font-size: 16px;
  }
  .modal__save-button {
    max-width: none;
    width: 276px;
  }
}
