.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avi {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  color: rgba(33, 33, 33, 1);
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-but {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  opacity: 70%;
  margin-top: auto;
  color: rgba(33, 33, 33, 1);
  border: none;
  background-color: #fcf5e5;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 0;
}
.profile__edit-but:hover {
  opacity: 100%;
  cursor: pointer;
}
.profile__edit-but:focus {
  outline: none;
  border: none;
}

.profile__add-but {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: rgba(252, 245, 229, 1);
  border: none;
  border-radius: 10px;
  gap: 8px;
  display: flex;
  align-items: center;
  padding: 18px 32px 18px 32px;
  height: 52px;
}

.profile__add-but:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile {
    max-width: 288px;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .profile__avi {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__column {
    align-items: center;
    text-align: center;
  }

  .profile__name {
    padding-top: 12px;
    margin: 0;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    padding-top: 6px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__edit-but {
    padding: 32px 0 20px;
  }
  .profile__add-but {
    width: 100%;
    margin-left: 0;
    padding-top: 20px;
    justify-content: center;
  }
}
